<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shevchuk</title>
    <style>
        a:link {
            color: cadetblue;
        }

        a:visited {
            color: cadetblue;
        }
    </style>
</head>
<body>
<h1>List of object</h1>
<p><a href="/add-object">Add object</a></p>
<table>
    <tr>
        <th>N</th>
        <th>Name</th>
        <th>Description</th>
        <th>Ownership</th>
        <th></th>
    </tr>
    {{#each object}}
        <tr>
            <td>{{this.idobject}}</td>
            <td>{{this.name}}</td>
            <td>{{this.description}}</td>
            <td>{{this.ownership}}</td>
            <td>
                <a href="/edit-object/{{this.idobject}}">Edit</a>
                <form action="delete-object/{{this.idobject}}" method="POST" style="display:inline;">
                    <input type="submit" value="Delete">
                </form>
            </td>
        </tr>
    {{/each}}
</table>
<h1>List of pollutant</h1>
<p><a href="/add-pollutant">Add pollutant</a></p>
<table>
    <tr>
        <th>N</th>
        <th>Name</th>
        <th>Mass Consumption</th>
        <th>Tax</th>
        <th>RfC</th>
        <th>SF</th>
        <th>Toxicity Class</th>
        <th>TLV</th>
        <th>Mass Flow Value</th>
    </tr>
    {{#each pollutant}}
        <tr>
            <td>{{this.idpollutant}}</td>
            <td>{{this.name_pollutant}}</td>
            <td align="center">{{this.mass_consumption}}</td>
            <td>{{this.tax}}</td>
            <td align="center">{{this.reference_concentration}}</td>
            <td>{{this.slope_factor}}</td>
            <td align="center">{{this.toxicity_class}}</td>
            <td>{{this.tlv}}</td>
            <td>{{this.mass_flow}}</td>
            <td>
                <a href="/edit-pollutant/{{this.idpollutant}}">Edit</a>
                <form action="delete-pollutant/{{this.idpollutant}}" method="POST" style="display:inline;">
                    <input type="submit" value="Delete">
                </form>
            </td>
        </tr>
    {{/each}}
</table>
<h1>List of pollution</h1>
<p><a href="/add-pollution">Add pollution</a></p>
<table>
    <tr>
        <th>N</th>
        <th>Object</th>
        <th>Pollutant</th>
        <th>Value</th>
        <th>Year</th>
        <th>Concentration</th>
        <th></th>
    </tr>
    {{#each pollution}}
        <tr>
            <td>{{this.idpollution}}</td>
            <td>{{this.name}}</td>
            <td>{{this.name_pollutant}}</td>
            <td>{{this.valuepollution}}</td>
            <td>{{this.year}}</td>
            <td>{{this.concentration}}</td>
            <td>
                <a href="/edit-pollution/{{this.idpollution}}">Edit</a>
                <form action="delete-pollution/{{this.idpollution}}" method="POST" style="display:inline;">
                    <input type="submit" value="Delete">
                </form>
            </td>
        </tr>
    {{/each}}
</table>

<h1>List of results</h1>
<form action="/calculate-results" method="POST" style="display:inline;">
    <input type="submit" value="Calculate Results">
</form>
<br><br><br>
<form id="filterForm" method="POST">
    <label>Object:</label>
    <select name="idobject" id="objectSelect">
        {{#each object}}
            <option value="{{this.idobject}}">{{this.name}}</option>
        {{/each}}
    </select>
    <br>
    <label>Year:</label>
    <input name="year" id="yearInput" class="field">
    <br>
    <input type="submit" value="Filter by selected object in selected year">
</form>

<script>
    document.getElementById("filterForm").addEventListener("submit", function(event) {
        event.preventDefault();
        const objectValue = document.getElementById("objectSelect").value;
        const yearValue = document.getElementById("yearInput").value;
        this.action = `/filter-by-object-and-year/${objectValue}/${yearValue}`;
        this.submit();
    });
</script>
<table>
    <tr>
        <th>N</th>
        <th>Object</th>
        <th>Pollutant</th>
        <th>Year</th>
        <th>Pollution</th>
        <th>Value (UAH)</th>
    </tr>
    {{#each results}}
        <tr>
            <td>{{this.idresults}}</td>
            <td><a href="/filter-by-object/{{this.idobject}}">{{this.name}}</a></td>
            <td>{{this.name_pollutant}}</td>
            <td><a href="/filter-by-year/{{this.year}}">{{this.year}}</a></td>
            <td>{{this.valuepollution}}</td>
            <td>{{this.valueresult}}</td>
        </tr>
    {{/each}}
</table>

<h1>List of danger</h1>
<form action="/assess-danger" method="POST" style="display:inline;">
    <input type="submit" value="Assess Danger">
</form>
<table>
    <tr>
        <th>N</th>
        <th>Object</th>
        <th>Pollutant</th>
        <th>Year</th>
        <th>Concentration</th>
        <th>HQ</th>
        <th>CR</th>
    </tr>
    {{#each danger}}
        <tr>
            <td>{{this.idresults}}</td>
            <td><a href="/filter-by-object/{{this.idobject}}">{{this.name}}</a></td>
            <td>{{this.name_pollutant}}</td>
            <td><a href="/filter-by-year/{{this.year}}">{{this.year}}</a></td>
            <td>{{this.concentration}}</td>
            <td>{{this.hq}}</td>
            <td>{{this.cr}}</td>
        </tr>
    {{/each}}
</table>
</body>
</html>
